*.pdf
*.aux
*.synctex.gz
*.toc
*.log
*.out
*.lot
*.lof
*.lol
*.bbl
*.blg
tigercorpora/work/
opennlp-tiger/training/.idea/
opennlp-tiger/training/opennlp-tiger-training.iml

opennlp-tiger/training/target
